<h2>Lista de postagens:</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova categoria</button></a>

<!-- Modal de confirmação -->
<div class="modal fade" id="delete-cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deletar postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: auto;">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja deletar esta postagem?
      </div>
      <div class="modal-footer">
        <form action="/admin/postagens/delete" method="POST">
          <input type="hidden" name="id" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>Descrição: {{descricao}}</p>
      <small>Data de criação: {{data}}</small>
      <br>
      <small>Categoria: {{categoria.nome}}</small>
      <div class="mt-2">
        <a href="/admin/postagens/edit/{{_id}}" class="btn btn-link">Editar Postagem</a>
        <button class="btn btn-danger" data-toggle="modal" data-target="#delete-cat" data-id="{{_id}}" data-nome="{{titulo}}">
          Deletar postagem
        </button>
      </div>
    </div>
  </div>
{{else}}
  <div class="alert alert-warning mt-4" role="alert">
    Você ainda não possui nenhuma postagem criada!
  </div>
{{/each}}

<!-- Scripts do Bootstrap e jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Script para atualizar ID e nome no modal -->
<script>
  $('#delete-cat').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var id = button.data('id'); // Extrai o data-id
    var modal = $(this);

    // Atualiza o input hidden com o valor do ID
    modal.find('input[name="id"]').val(id);
  });
</script>